<form method="post" action="/">
  <div class="form-group">
    <label for="input">Input Text</label>
    <textarea id="input" name="input" class="form-control" placeholder="Enter the text that you want to apply the Caesar cipher to here."></textarea>
  </div>
  <div class="form_group">
    <label for="shift">Shift</label>
    <input type="number" id="shift" name="shift" class="form-control" placeholder="Enter the shift here.">
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Apply Caesar Cipher</button>
</form>

<% if @output %>
  <h3>Encrypted Text</h3>
  <br/>
  <p><%= @output %></p>
<% end %>