<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Caesar Cipher</title>
  <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Caesar Cipher</a>
      </div>
    </div>
  </nav>
  <br/>
  <div>
    <p>
    A <a href="https://en.wikipedia.org/wiki/Caesar_cipher">Caesar cipher</a> is one of the oldest and 
    most widely known encryption techniques. It's a type of substitution cipher in which each 
    letter is replaced by a different letter a set number of positions away in the alphabet. 
    <a href="https://www.youtube.com/watch?v=36xNpbosfTY">For example</a>, with a right shift of 3, 
    "D" becomes "G", and "L" becomes "O".
    </p>
    <p>
    Below, you can enter text that you want to encrypt using the Caesar cipher and then the shift
    that you want to apply. To apply a right shift, enter a positive number; to apply a left shift, 
    enter a negative number. The number that you enter can be greater than 26 to cycle through the
    alphabet more than once.
    </p>
  </div>
  <br/><br/>
  <%= yield %>
</body>
</html>